body {
    background-image: url('windows-tools-download/assets/backround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
