body {
    background-image: url('https://rand0mdvd3.github.io/windows-tools-download/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    overflow: hidden;
}
